header, main, footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.head-text{
    width: 80%;
    background-color: coral;
    color: cornsilk;
    font-size: 1.7rem;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 1rem 0; 
}
.main-text{
    width: 80%;
    height: 79vh;
    background-color: burlywood;
    color: brown;
    font-size: 1.7rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-text{
    width: 80%; 
    background-color: black;
    color: cornsilk;
    font-size: 1.7rem;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 1rem 0; 
}
