<header>
  <div class="head-text">
    This is header
  </div>
</header>
<main>
  <div class="main-text">
    Digital body within Main
  </div>
</main>
<footer>
  <div class="footer-text">
    Digital foot within Footer
  </div>
</footer>